table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    font-size: 8px;
    width: 400px;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 5px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
    border: 1px solid #dddddd;
}